body{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC); 
    background-image: linear-gradient(to bottom, #5B86E5, #36D1DC); 
    background-repeat: no-repeat; 
    
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

.notesHeader, .notesBody, .notesFooter{
    background-color: rgba(0,0,0,0.5);
    padding:20px;
    margin: 0px auto;
}

.notesBody{
    margin-top:20px;
}

.notesFooter{
    bottom: 0;
    position:fixed;
    left:0;
    width:100%;
}